nifi/NiFi_Flow.json
{
  "flowContents": {
    "identifier": "51948b83-25ee-3e39-8532-869312927e8e",
    "instanceIdentifier": "af10590d-019d-1000-f374-5d868303c1fd",
    "name": "Price Intelligence — NiFi Streaming Flow",
    "comments": "Watches output/*.json, splits JSON array, writes each record to GCP Bigtable via bigtable_nifi_writer.py",
    "position": {
      "x": 0.0,
      "y": 0.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "d336a822-c5fd-38da-b601-d47ad5fcc80a",
        "instanceIdentifier": "69e5a61f-2740-47b5-88b0-f32a33a08b10",
        "name": "GetFile",
        "comments": "",
        "position": {
          "x": -600,
          "y": 0
        },
        "type": "org.apache.nifi.processors.standard.GetFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Input Directory": "/opt/nifi/price_intelligence/output",
          "File Filter": "[a-z]+\\.json",
          "Keep Source File": "true",
          "Minimum File Age": "5 sec",
          "Polling Interval": "30 sec",
          "Batch Size": "10",
          "Recurse Subdirectories": "false",
          "Ignore Hidden Files": "true"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "30 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "componentType": "PROCESSOR",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "a1b2c3d4-1111-2222-3333-444455556666",
        "instanceIdentifier": "c61b7727-b401-4316-9af2-f4bb830387ea",
        "name": "SplitJson",
        "comments": "",
        "position": {
          "x": -300,
          "y": 0
        },
        "type": "org.apache.nifi.processors.standard.SplitJson",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "JsonPath Expression": "$.*",
          "Null Value Representation": "empty string"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure",
          "original"
        ],
        "componentType": "PROCESSOR",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "fc19e795-1e3d-3202-8596-519cd08e0e6f",
        "instanceIdentifier": "567cbe45-8986-40bb-9388-bb3107d5a1ec",
        "name": "EvaluateJsonPath",
        "comments": "",
        "position": {
          "x": 0,
          "y": 0
        },
        "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Destination": "flowfile-attribute",
          "Return Type": "auto-detect",
          "Path Not Found Behavior": "ignore",
          "Null Value Representation": "empty string",
          "record.name": "$.name",
          "record.brand": "$.brand",
          "record.model": "$.model",
          "record.price": "$.price",
          "record.old_price": "$.old_price",
          "record.currency": "$.currency",
          "record.discount": "$.discount",
          "record.rating": "$.rating",
          "record.reviews": "$.reviews",
          "record.url": "$.url",
          "record.source_site": "$.source_site",
          "record.scraped_at": "$.scraped_at"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure",
          "unmatched"
        ],
        "componentType": "PROCESSOR",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "ccf10734-e652-3dce-94d2-932fd52a8e78",
        "instanceIdentifier": "fe236b33-dfa6-4eb7-9a42-f4b507672ad7",
        "name": "UpdateAttribute",
        "comments": "",
        "position": {
          "x": 300,
          "y": 0
        },
        "type": "org.apache.nifi.processors.standard.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "bigtable.row.key": "${record.source_site}#${record.brand}#${record.model:toLower():replace(' ', '_')}#${record.scraped_at:replace(':', ''):replace('-', ''):replace('T', ''):replace('.', '')}"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "b2c3d4e5-2222-3333-4444-555566667777",
        "instanceIdentifier": "a75b1d8f-46fb-4971-8c2f-e180c2194172",
        "name": "ExecuteStreamCommand",
        "comments": "",
        "position": {
          "x": 600,
          "y": 0
        },
        "type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Command": "python3",
          "Command Arguments": "/opt/nifi/price_intelligence/price_intelligence/bigtable/bigtable_nifi_writer.py",
          "Working Directory": "/opt/nifi/price_intelligence",
          "Ignore STDIN": "false",
          "Environment Variables": "GCP_PROJECT=regal-unfolding-490222-g5;BIGTABLE_INSTANCE_ID=price-intel-instance;BIGTABLE_TABLE_ID=smartphones;GOOGLE_APPLICATION_CREDENTIALS=/opt/nifi/price_intelligence/gcp-credentials.json",
          "Argument Delimiter": ";"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "nonzero status"
        ],
        "componentType": "PROCESSOR",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "190ecfe0-6780-3cee-b6d0-4393f9a31750",
        "instanceIdentifier": "ca154054-9e24-4fb5-bd51-0cd1d10ca6b4",
        "name": "LogAttribute (success)",
        "comments": "",
        "position": {
          "x": 900,
          "y": 0
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Log Level": "info",
          "Attributes to Log": "bigtable.row.key,record.name,record.price,record.source_site",
          "Attributes to Log by Regular Expression": "",
          "Log Payload": "false"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "componentType": "PROCESSOR",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "c3d4e5f6-3333-4444-5555-666677778888",
        "instanceIdentifier": "7ef0f914-c8da-4ae1-acb7-c7311f831cde",
        "name": "LogAttribute (failure)",
        "comments": "",
        "position": {
          "x": 300,
          "y": 200
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Log Level": "warn",
          "Log Payload": "true"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "componentType": "PROCESSOR",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "c0001111-0001-0001-0001-000100010001",
        "instanceIdentifier": "cc75c76b-f277-464d-86aa-7fc49f69131d",
        "name": "",
        "source": {
          "id": "d336a822-c5fd-38da-b601-d47ad5fcc80a",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "GetFile",
          "comments": "",
          "instanceIdentifier": "469fc0a3-2297-431e-b9f7-6416d1d62d2f"
        },
        "destination": {
          "id": "a1b2c3d4-1111-2222-3333-444455556666",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "SplitJson",
          "comments": "",
          "instanceIdentifier": "2de66b60-1083-4644-9f38-842ee31d007f"
        },
        "labelIndex": 0,
        "zIndex": 1,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "c0002222-0002-0002-0002-000200020002",
        "instanceIdentifier": "c46c4a78-5221-4f6a-a0d5-fe6b4886e248",
        "name": "",
        "source": {
          "id": "a1b2c3d4-1111-2222-3333-444455556666",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "SplitJson",
          "comments": "",
          "instanceIdentifier": "537c9d8b-81f5-4c2a-a8ee-f762a2d0d6a7"
        },
        "destination": {
          "id": "fc19e795-1e3d-3202-8596-519cd08e0e6f",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "EvaluateJsonPath",
          "comments": "",
          "instanceIdentifier": "bccf9136-0339-4654-8a4a-67be55203d3b"
        },
        "labelIndex": 0,
        "zIndex": 2,
        "selectedRelationships": [
          "split"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "c0003333-0003-0003-0003-000300030003",
        "instanceIdentifier": "daa5eb92-5728-45ba-a486-00f46a2e23b5",
        "name": "",
        "source": {
          "id": "fc19e795-1e3d-3202-8596-519cd08e0e6f",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "EvaluateJsonPath",
          "comments": "",
          "instanceIdentifier": "efc9ab32-5cb9-4bc2-b053-f2328930e2e8"
        },
        "destination": {
          "id": "ccf10734-e652-3dce-94d2-932fd52a8e78",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "ab563f6f-4109-4e11-bec6-77c913a8e892"
        },
        "labelIndex": 0,
        "zIndex": 3,
        "selectedRelationships": [
          "matched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "c0004444-0004-0004-0004-000400040004",
        "instanceIdentifier": "dda54673-7ecf-4675-9be1-abae0ae1abb7",
        "name": "",
        "source": {
          "id": "ccf10734-e652-3dce-94d2-932fd52a8e78",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "99fa8427-3318-4ca6-86de-3c05acadff23"
        },
        "destination": {
          "id": "b2c3d4e5-2222-3333-4444-555566667777",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "ExecuteStreamCommand",
          "comments": "",
          "instanceIdentifier": "886b4c63-65dc-4702-8417-5cf9324c3d54"
        },
        "labelIndex": 0,
        "zIndex": 4,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "c0005555-0005-0005-0005-000500050005",
        "instanceIdentifier": "84bc2cf1-2526-4037-b962-b192fccaa0d0",
        "name": "",
        "source": {
          "id": "b2c3d4e5-2222-3333-4444-555566667777",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "ExecuteStreamCommand",
          "comments": "",
          "instanceIdentifier": "7c1816f9-c7a6-4274-b19a-2df917d008e8"
        },
        "destination": {
          "id": "190ecfe0-6780-3cee-b6d0-4393f9a31750",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "LogAttribute (success)",
          "comments": "",
          "instanceIdentifier": "8800c5cc-1c1a-49ad-a331-11087bcc0058"
        },
        "labelIndex": 0,
        "zIndex": 5,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      },
      {
        "identifier": "c0006666-0006-0006-0006-000600060006",
        "instanceIdentifier": "ccc753ef-18ec-44bc-9d52-f9af08cb8ccf",
        "name": "",
        "source": {
          "id": "fc19e795-1e3d-3202-8596-519cd08e0e6f",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "EvaluateJsonPath",
          "comments": "",
          "instanceIdentifier": "a040f176-ee20-400b-a18c-728b21f7f582"
        },
        "destination": {
          "id": "c3d4e5f6-3333-4444-5555-666677778888",
          "type": "PROCESSOR",
          "groupId": "51948b83-25ee-3e39-8532-869312927e8e",
          "name": "LogAttribute (failure)",
          "comments": "",
          "instanceIdentifier": "7902fd79-f3ee-40a0-8493-abecd1092645"
        },
        "labelIndex": 0,
        "zIndex": 6,
        "selectedRelationships": [
          "failure",
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "51948b83-25ee-3e39-8532-869312927e8e"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}